%table.pages-index
  %thead
    %tr
      %th.label&= _("LabelIndices")
      %th.display_name&= _("Page|Display name")
      %th.mail= _("Notify Mail")
      %th.user&= _("Page|Auther")
      %th.publication&= _("Publication")
      %th.timestamp&= _("Page|Published at")
      %th.timestamp&= _("Page|Updated at")
      %th.edit&= _('Page|Edit')
      %th.delete&= _('Page|Delete')
  %tbody
    - each_with_histories(pages) do |page, history|
      %tr
        %td.label= labelize(page.label_index)
        %td.name= link_to h(page.display_name), note_page_url(@note, page)
        %td.mail= mail_notification(@note, page)
        %td&= history.user.name
        %td.publication
          - if page.published?
            %span.published&= _("Published")
          - else
            %span.not_yet&= _("Not yet")
        %td.timestamp&= page.published_at.strftime("%Y-%m-%d %H:%M")
        %td.timestamp&= page.updated_at.strftime("%Y-%m-%d %H:%M")
        %td.edit= link_to _("Edit"), edit_admin_note_page_path(@note,page)
        %td.delete= link_to _("Delete"), {:controller=>'admin/pages',:action=>'destroy',:note_id=>@note,:id=>page}, :confirm=>_("Are you sure?"), :method=>:delete
