- content_for :header do
  =stylesheet_link_tag "mypage"
  =stylesheet_link_tag "admin/admin"

#contents
  - div_for(@page, :class => "app-layout") do
    - form_for(:page, :url=>admin_note_page_path(@note, @page)) do |f|
      =f.error_messages
      = hidden_field_tag "_method", "PUT"
      %table.skipwiki.input
        = render :partial => 'pages/page_form', :locals =>{:form =>f }
        %tr.deleted
          %th&= _("Page|Deleted")
          %td
            = f.check_box(:deleted) + "&nbsp;" + f.label(:deleted, "Logical Delete")

      = submit_tag _("Update")

