- content_for :header do
  =stylesheet_link_tag "mypage"

#contents_container
  .caption= render :partial => 'search'

  .contents
    #portal
      #updated-page
        %h2
          = icon_tag('folder_page') + h(_("Updated pages"))
          - if has_more?(@pages)
            %span.operation= link_to(_("more..."), pages_path)
        %table.skipwiki.pages-index
          %tr
            %th.updated_title&= _("Page|Display name")
            %th.updated_at&= _("Page|Updated at")

          - @pages[0, NotesController::DASHBOARD_ITEM_NUM].each do |page|
            %tr.item_line
              %td.updated_title
                =link_to h(page.display_name), note_page_path(page.note, page)
                %span.help&= "on #{page.note.display_name}"
              %td.date&= page.updated_at.strftime("%m/%d %H:%M")

      -#.search
        = link_to h(_("View All")), :controller => "notes", :action => "search" , :sortto_sym => "updated_on"

    #mypage
      %h2
        = icon_tag('folder_star') + _("Dashboard")
      %h3&= _("Accessible Note")
      %ul.accessible-notes
        - @notes.each do |note|
          %li
            %span.display_name= link_to(h(note.display_name), note_page_path(note, "FrontPage"))
            - if current_user.accessible?(note)
              %spn.publicity.accessible&= _("Accessible")
            - elsif note.public_writable?
              %spn.publicity.public-writable&= _("Public writable")
            - else
              %spn.publicity.public-readable&= _("Public readable")

            .info
              %span&= note.description

  .clear

