#content
  .app-layout
    - div_for(@note) do
      %h2&= _("edit note properties")
      - form_for(@note) do |f|
        =f.error_messages
        %table.input
          %tr
            %th&= _("Note|GroupBackendType")
            %td
              %ul.radios
                %li
                  =f.radio_button(:group_backend_type, "BuiltinGroup", :disabled=>!@note.new_record?)
                  =f.label :group_backend_type, h(_"BuiltinGroup note"), :for=>"note_group_backend_type_builtingroup"
                %li
                  =f.radio_button(:group_backend_type, "SkipGroup", :disabled=>!@note.new_record?)
                  =f.label :group_backend_type, h(_"SkipGroup note"), :for=>"note_group_backend_type_skipgroup"

          %tr
            %th= f.label :name, h(_("Note|Name"))
            %td= f.text_field :name

          %tr
            %th= f.label :display_name, h(_("Note|Display name"))
            %td= f.text_field :display_name

          %tr
            %th= f.label :description, h(_("Note|Description"))
            %td= f.text_field :description, :size=>"60"

          %tr
            %th&= _("Note|Publicity")
            %td
              %ul.radios
                %li
                  =f.radio_button(:publicity, Note::PUBLICITY_MEMBER_ONLY)
                  =f.label "publicity_#{Note::PUBLICITY_MEMBER_ONLY}", h(publicity_label(Note::PUBLICITY_MEMBER_ONLY))

                %li
                  =f.radio_button(:publicity, Note::PUBLICITY_READABLE)
                  =f.label "publicity_#{Note::PUBLICITY_READABLE}", h(_(publicity_label(Note::PUBLICITY_READABLE)))

                %li
                  =f.radio_button(:publicity, Note::PUBLICITY_WRITABLE)
                  =f.label "publicity_#{Note::PUBLICITY_WRITABLE}", h(publicity_label(Note::PUBLICITY_WRITABLE))

          %tr
            %th&= _("Note|Category")
            %td
              %ul.radios
                - Category.lang("ja").each do |c|
                  %li
                    =f.radio_button :category_id, c.id
                    =f.label h("category_id_#{c.id}"), h(c.display_name)
          %tr
            %th&= _("Note|LabelNavigationStyle")
            %td
              %ul.radios
                - LabelIndex.navigation_styles.each do |style|
                  %li
                    =f.radio_button(:label_navigation_style, style)
                    =f.label "label_navigation_style_#{style}", h(navi_style_label(style))
          %tr
            %th&= _("Note|List attachments")
            %td
              %ul.radios
                - [false, true].each do |val|
                  %li
                    =f.radio_button(:list_attachments, val)
                    =f.label "list_attachments_#{val}", h(list_attachments_label(val))

        %div
          = back_link_to(_("Note Properties"), note_path(current_note))
          = f.submit _("Update")

