- content_for :header do
  =stylesheet_link_tag "mypage"

#contents_container
  .caption= render :partial => 'search'

  .contents
    #updated-notes
      %h2= icon_tag('folder_page') + h(_("Updated notes"))
      - if @notes.empty?
        %p.no-result&= _("The query find no notes.")
      - else
        %table.notes-index
          %tr
            %th.updated_title&= _("Note|Display name")
            %th.description&= _("Note|Description")
            %th.page&= _("Updated page")
            %th.updated_at&= _("Note|Updated at")

          - with_last_modified_page(@notes) do |note, page|
            %tr.item_line
              %td.updated_title
                =link_to h(note.display_name), note_page_path(note, "FrontPage")
              %td.description&= note.description
              %td.page
                - if page
                  = link_to _(page.display_name), note_page_path(note, page)
                - else
                  %span.not-exist&= _("No page exists")

              %td.date&= note.updated_at.strftime("%m/%d %H:%M")

        = will_paginate @notes

