- content_for :header do
  =stylesheet_link_tag "mypage"

#contents_container
  .caption
    - search_label = _("Search Note")
    - val = params[:fulltext] || search_label
    -form_tag(notes_path, :method=>"GET") do
      = text_field_tag("fulltext", val, :class=>"labeled-field", :size=>32)
      = submit_tag _('Search')
      = link_to(_("Show all"), notes_path)

    :javascript
      jQuery(function(){
        jQuery("div.caption input.labeled-field").labeledTextField(#{{:message => search_label}.to_json});
      });

  .contents
    #updated-notes
      %h2= icon_tag('folder_page', _("Updated notes"))
      - if @notes.empty?
        %p.no-result&= _("The query find no notes.")
      - else
        %table.notes-index
          %tr
            %th.updated_title&= _("Note|Display name")
            %th.description&= _("Note|Description")
            %th.page&= _("Updated page")
            %th.updated_at&= _("Note|Updated at")

          - with_last_modified_page(@notes) do |note, page|
            %tr.item_line
              %td.updated_title
                =link_to h(note.display_name), note_page_path(note, "FrontPage")
              %td.description&= note.description
              %td.page
                - if page
                  = link_to _(page.display_name), note_page_path(note, page)
                - else
                  %span.not-exist&= _("No page exists")

              %td.date&= note.updated_at.strftime("%m/%d %H:%M")

        = will_paginate @notes

