- content_for(:header) do
  =stylesheet_link_tag "wikis"
  = javascript_include_file 'wiki-wizard'

:javascript
  $(document).ready(function(){
    jQuery("#wiki_action").wizard();
  });

#wiki_action
  - form_for(@note, :url=>notes_path) do |f|
    .errors= sanitize f.error_messages

    - render_wizard(0, :select_group) do
      .wizard_content
        .topic
          新しくノートを作成しましょう！！！
          <br/>
          まずはノートを作成する対象を選択してください。

        %table
          %tr
            %td
              =f.radio_button(:group_backend_type, "BuiltinGroup")
              =f.label :group_backend_type, h(_"個人用ノート"), :for=>"note_group_backend_type_builtingroup"
            %td &nbsp;
          %tr
            %td
              =f.radio_button(:group_backend_type, "SkipGroup")
              =f.label :group_backend_type, h(_"SKIPグループ"), :for=>"note_group_backend_type_skipgroup"
            %td
              // FIXME
              =f.select :group_backend_id, current_user.memberships.select{|m| m.group.backend_type == "SkipGroup" }.map{|m| [m.group.display_name, m.group.id] }

    -render_wizard(1, :select_category) do
      .wizard_content
        .topic
          続いてノートのカテゴリを選択してください。<br/>

        %table
          - Category.lang("ja").each do |c|
            %tr
              %td
                =f.radio_button :category_id, c.id
                =f.label h("category_id_#{c.id}"), h(c.display_name)
              %td&= c.description

        .example
          %ul
            %li
              =h _"Office"
              %ul.sub
                %li&= _"SWAT...TCが展開するシステム開発ツールとノウハウに関するノートです"
                %li&= _"QMS...生産技術部が展開するQMSに関する資料公開用のノートです"

            %li
              =h _"Business"
              %ul.sub
                %li&= _"SONICチーム情報共有ノート...プロジェクトチーム内の情報共有用ノートです"

            %li
              =h _"Life"
              %ul.sub
                %li&= _"ファシリテーションWG...社内の有志で運営している勉強会グループです"
                %li&= _"TC部門内運営ルール...休暇申請など、部門内のルールをまとめたノートです"

            %li
              =h _"Off"
              %ul.sub
                %li&= _"ハムスターの飼育方法...その名の通り、ハムスターを元気に育てるためのノウハウ集です"
                %li&= _"FFIX...ゲームに関する情報をまとめたノートです"

    -render_wizard(2, :select_publicity) do
      .wizard_content
        .topic
          次のステップではノートの公開範囲を設定します。<br/>

        %table
          - [Note::PUBLICITY_MEMBER_ONLY, Note::PUBLICITY_READABLE, Note::PUBLICITY_WRITABLE].each do |pub|
            %tr
              %td
                =f.radio_button(:publicity, pub)
                =f.label "publicity_#{pub}", h(publicity_label(pub))
              %td &nbsp;

        .example
          %ul
            %li
              =h _"グループメンバーのみ閲覧/書込できる"
              %ul.sub
                %li&= "そのノートにアクセス可能なグループのメンバーのみが読み書きできます。"
                %li&= "プロジェクト内や特定のユーザのみで利用するノートにしたい場合に選びます。"
            %li
              =h _"全員が閲覧できる"
              %ul.sub
                %li
                  グループメンバーが読み書きできるのに加え、<strong>グループに所属していないユーザ</strong>
                  もノートの内容を閲覧することができます。
                %li&= _"そのグループからグループ外に情報を発信したい場合に選びます。"
            %li
              =h _"全員が閲覧/書込できる"
              %ul.sub
                %li
                  グループに所属していないユーザを含む、<strong>あらゆるユーザ</strong>
                  が編集できるノートになります。
                %li&= _"Wikipediaのようにみんなでコンテンツを作っていくノートにしたい場合に選びます。"

    -render_wizard(3, :select_label_navigation_style) do
      .wizard_content
        .topic
          次のステップではページ表示時のラベルナビゲーションの表示方方を設定します。<br/>

        %table
          - LabelIndex.navigation_styles.each do |style|
            %tr
              %td
                =f.radio_button(:label_navigation_style, style)
                =f.label "label_navigation_style_#{style}", h(navi_style_label(style))
              %td &nbsp;

        .example
          %ul
            %li
              =h navi_style_label(LabelIndex::NAVIGATION_STYLE_NONE)
              %ul.sub
                %li&= "ラベルツールバーを表示しません。"
                %li&= "公式発表など、他のページへのナビゲーションが不要な場合に選びます。"
            %li
              =h navi_style_label(LabelIndex::NAVIGATION_STYLE_TOGGLE)
              %ul.sub
                %li&= "ラベルツールバーの表示を切り替えられます。"
                %li&= "ナビゲーションバーを用意したいが、全画面表示も使いたい場合に選びます。"
                %li
                  ページの初期表示時には、<strong>ツールバーが表示</strong>されています。"
            %li
              =h navi_style_label(LabelIndex::NAVIGATION_STYLE_ALWAYS)
              %ul.sub
                %li&= "ラベルツールバーを常に表示します。"
                %li&= "グループ内のノートなど、ナビゲーションが簡単に出きるようにしたい場合に選びます"

    -render_wizard(4, :select_input_name) do
      .wizard_content
        .topic
          次のステップでは
          %strong= _("Note|Display name")
          と
          %strong= _("Note|Name")
          を入力してください。

        %table
          %tr
            %td= f.label :display_name, _("Note|Display name")
            %td= f.text_field :display_name
          %tr
            %td= f.label :name, _("Note|Name")
            %td= f.text_field :name

        .example
          .h4 名称の例
          最近作成されたノートの名称です。
          %ul
            - current_user.free_or_accessible_notes.recent.each do |note|
              %li= note.display_name

        .example
          .h4 識別名の例
          // FIXME
          例えば、グループのノートで識別名を<b><u>sonic_note</u></b>と入力すると、次のURLでアクセスできます。
          %div{:style=>"margin:5px 0 0 10px;color:green"}
            = note_url("sonic_note")

    -render_wizard(5, :input_description) do
      .wizard_content
        .topic
          次のステップでは
          %strong= _("Note|Description")
          を入力してください。

        %table
          %tr
            %td= f.label :description, _("Note|Description")
            %td= f.text_field :description, :size=>"60"

        .example
          .h4 説明
          ノートの内容を簡単に説明してください
          %ul
            - current_user.free_or_accessible_notes.recent.each do |note|
              %li= note.description

    -render_wizard(6, :select_list_attachments) do
      .wizard_content
        .topic
          次のステップでは
          %strong= _("Note|List attachments")
          を入力してください。

        %table
          - [false, true].each do |val|
            %tr
              %td
                =f.radio_button(:list_attachments, val)
                =f.label "list_attachments_#{val}", h(list_attachments_label(val))

        .example
          %h4 説明
          ノートを呼んでいる一般ユーザに、添付ファイル一覧を表示するかどうかを設定します。
          %ul
            %li
              =h _("NOT list attachment for download.")
              %ul.sub
                %li&= "そのノートの編集権限のないユーザは、添付ファイルの一覧にアクセスできません。"
                %li&= "ページに埋め込まれたリンクからはダウンロードできます。"
            %li
              =h _("List attachment for download.")
              %ul.sub
                %li&= "そのノートの編集権限のないユーザも、添付ファイルの一覧にアクセスできます。"
                %li&= "情報共有用のノートなど、全員で添付ファイルを共有する場合に選びます。"

    - render_wizard(7, :confirm) do
      .wizard_content
        .topic
          この内容でよろしいですか?
          =f.submit _("Create")

        %table.confirmation.input
          %tr.group_backend_type
            %th&= _("Note|GroupBackendType")
            %td&= ""
          %tr.category_id
            %th&= _("Note|Category")
            %td&= ""
          %tr.publicity
            %th&= _("Note|Publicity")
            %td&= ""
          %tr.label_navigation_style
            %th&= _("Note|LabelNavigationStyle")
            %td&= ""
          %tr.display_name
            %th&= _("Note|Display name")
            %td&= ""
          %tr.name
            %th&= _("Note|Name")
            %td&= ""
          %tr.description
            %th&= _("Note|Description")
            %td&= ""
          %tr.list_attachments
            %th&= _("Note|List attachments")
            %td&= ""

= link_to 'Back', notes_path

