#content
  - current_path = note_path(@note)
  .user-bar= render :partial => 'pages/user_bar'
  .tab= render :partial => 'shared/edit_navi', :locals=> {:current_path => current_path}

  - div_for(@note) do
    %ul
      %li= link_to(h(_"edit note"), edit_note_path(@note))
      %li= link_to(h(_"add users"), group_path(@note.owner_group))
      %li= link_to_if false, h(_"add groups"), group_path(current_note.owner_group) # TODO グループ追加
      %li= link_to(h(_"add labels"), note_label_indices_path(@note))

