#content
  - div_for(@note) do
    .user-bar= render :partial => 'pages/user_bar'
    .tab
      %ul.navi-tab
        - current_path = note_path(@note)
        =render(:partial => "navi", :locals=>{:note=>@note, :current_path=>current_path})

    %h1&= @note.display_name
    %p.description&= @note.description

    %ul
      %li= link_to(h(_"edit note"), edit_note_path(@note))
      %li= link_to(h(_"add users"), group_path(@note.owner_group))
      %li= link_to_if false, h(_"add groups"), group_path(current_note.owner_group) # TODO グループ追加
      %li= link_to(h(_"labels"), note_label_indices_path(@note))

