#content
  - div_for(@note) do
    %h1&= @note.display_name
    %p.description&= @note.description

    .tab
      %ul.navi-tab
        %li= link_to h(_("edit note")), edit_note_path(@note)
        %li= link_to h(_("add users")), group_path(@note.owner_group)
        %li= link_to h(_("note pages")), note_pages_path(@note)
        %li= link_to h(_("new page")), new_note_page_path(@note)

    .pages
      =render(:partial => "pages/pages", :locals=>{:pages=>@note.pages.scoped(:order => "pages.updated_at DESC")})

    %ul
      %li= link_to(h(_("Labels")), note_label_indices_path(@note))

