= render :partial => 'users/side_menu'

- div_for(@user) do
  %dl
    %dt&= _("User|Name")
    %dd&= @user.name

    %dt&= _("User|Display name")
    %dd&= @user.display_name

    %dt&= _("User|Identity url")
    %dd&= @user.identity_url

  - unless SkipEmbedded::OpFixation.sso_enabled?
    = link_to _("Edit"), edit_user_path(@user)

