#services
  %a{:href=>"http://www.openskip.org/", :target=>"_blank"}&= _("SKIP Official Site")
  %a{:href=>"http://user.openskip.org/", :target=>"_blank"}&= _("SKIP User Commnity")
  %a{:href=>"./help", :target=>"_blank"}
    %span.ss_sprite.ss_help{:title=>_("Help")}&= _("Help")

  - if logged_in?
    =link_to _("Logout") % {:name=>current_user.name}, logout_path
  - else
    =link_to _("Login"), login_path

<br style="clear: right;" />

#search
  - if fts = INITIAL_SETTINGS[:skip_collabolation][:fulltext_search]
    - form_tag(fts[:endpoint], { :method => 'get'}) do
      %span{:style=>"vertical-align:middle;"}
      = text_field_tag(fts[:query_name], _("Input keyword to search"))
      = submit_tag _('Search')
      &nbsp;

