#services
  %a{:href=>"http://www.openskip.org/", :target=>"_blank"}&= _("SKIP Official Site")
  %a{:href=>"http://user.openskip.org/", :target=>"_blank"}&= _("SKIP User Commnity")
  %a{:href=>"./help", :target=>"_blank"}
    %span.ss_sprite.ss_help{:title=>_("Help")}&= _("Help")

  - if logged_in?
    =link_to _("Logout") % {:name=>current_user.name}, logout_path
  - else
    =link_to _("Login"), login_path

<br style="clear: right;" />

#search
  - if fts = INITIAL_SETTINGS[:skip_collabolation][:fulltext_search]
    - search_label = _("Input keyword to search")
    - form_tag(fts[:endpoint], :method => 'get', :class => 'skip_fulltext_search') do
      %span{:style=>"vertical-align:middle;"}
      = text_field_tag(fts[:query_name], search_label, :class => "labeled-field")
      = submit_tag _('Search')
      &nbsp;

    :javascript
      jQuery(function(){
        jQuery("#search input.labeled-field").labeledTextField(#{{:message => search_label}.to_json});
      });

