#menu
  - if logged_in?
    .item{:style=>"color:block"}&= _("Login ID: %{name}") % {:name => current_user.name }
    .item= link_to(_("Edit profile"), user_path(current_user))
    .item= link_to _("Logout"), logout_path
  - else
    .item= =link_to _("Login"), login_path

  <br style="clear: left;" />

#search
  - if fts = INITIAL_SETTINGS[:skip_collabolation][:fulltext_search]
    - search_label = _("Input keyword to search")
    - form_tag(fts[:endpoint], :method => 'get', :class => 'skip_fulltext_search') do
      = text_field_tag(fts[:query_name], search_label, :class => "labeled-field", :size => 40)
      = submit_tag _('Search')
      &nbsp;

    :javascript
      jQuery(function(){
        jQuery("#search input.labeled-field").labeledTextField(#{{:message => search_label}.to_json});
      });

