#current-note
  %div.note_title= link_to(current_note.display_name, note_page_path(current_note, "FrontPage"), :title => "FrontPage")
  %div&= current_note.description

#note-menu
  - if logged_in?
    %ul.float
      %li= link_to(_("note pages"), note_pages_path(current_note))
      - if current_note.list_attachments || current_user.page_editable?(current_note)
        %li= link_to(_("note attachments"), note_attachments_path(current_note))
      %li= link_to("新しいページを作る", new_note_page_path(current_note))
      %li= link_to("ノートのプロパティ", note_path(current_note))
    .clear
    %div= select_tag("notes", notes_navi_on_header(current_user))
.clear

:javascript
  jQuery(document).ready(function(){
    $("div#current-note span.operation").click(function(){jQuery(this).nextAll("div.note-navi").toggle()});
    $("span.note-operation select").dropdownNavigation();
  });

:javascript
  jQuery(document).ready(function(){
    $("#top select").dropdownNavigation();
  });

