%ul.float
  %li.bar-item.page-index
    = link_to(_("note pages"), note_pages_path(current_note))

  - if current_note.list_attachments || current_user.accessible?(current_note)
    %li.bar-item.attachments
      = link_to(_("note attachments"), note_attachments_path(current_note))

  %li.bar-item.search-pages
    - form_tag(note_pages_path(current_note), :method=>:get) do
      - search_label = _("Search pages in %{note}") % {:note => current_note.display_name}
      - val = params[:keyword].blank? ? search_label : params[:keyword]
      = text_field_tag("keyword", val, :id=>"pages_keyword", :class=>"labeled-field", :size=>32)
      = submit_tag _("Search")

      :javascript
        jQuery(function(){
          jQuery("input.labeled-field").labeledTextField(#{{:message => search_label}.to_json});
        });

  %li.bar_item
    #system_contents= image_tag "skip/indicator.gif"

