%ul.float
  - if @page && !@page.new_record?
    %li.bar-item.navigate-in-label
      = link_to_function(_("all labels"), "$(this).parents('li.navigate-in-label').find('div.move-to-label').show()")
      .move-to-label{:style=>"display:none"}
        =link_to_function(_("close"), "$(this).parents('div.move-to-label').hide()")
        %ul
          - current_note.label_indices.has_pages.each do |l|
            %li= link_to labelize(l), note_pages_path(current_note, :label_index_id =>l)

  %li.bar-item.page-index
    = link_to(_("note pages"), note_pages_path(current_note))

  %li.bar-item.search-pages
    - form_tag(note_pages_path(current_note), :method=>:get) do
      - search_label = _("Search pages in %{note}") % {:note => current_note.display_name}
      - val = params[:keyword].blank? ? search_label : params[:keyword]
      = text_field_tag("keyword", val, :id=>"pages_keyword", :class=>"labeled-field", :size=>32)
      = submit_tag _("Search")

      :javascript
        jQuery(function(){
          jQuery("input.labeled-field").labeledTextField(#{{:message => search_label}.to_json});
        });

  %li.bar_item
    #system_contents= image_tag "skip/indicator.gif"

