#content
  - div_for(current_note) do
    - if current_target.is_a?(Note)
      %h1&= current_note.display_name
      .tab
        %ul.navi-tab
          =render(:partial => "notes/navi", :locals=>{:note=>current_note, :current_path=>target_attachments_url})
    - else
      - @page = current_target
      %h1&= current_target.display_name
      .tab
        %ul.navi-tab
          =render(:partial => "pages/navi", :locals=>{:note=>current_note, :current_path=>target_attachments_url})

    .attachments
      %h2&= _("Attached files to %{target}") % {:target => _(current_target.class.name.downcase) }
      %table
        - @attachments.each do |at|
          %tr
            %td&= at.content_type
            %td&= at.filename
            %td&= at.display_name
            %td&= number_to_human_size(at.size)
            %td&= at.updated_at.to_s
            %td= link_to _("Download"), target_attachment_url(at)
            %td= link_to _("Delete"), target_attachment_url(at), :method => :delete

    .attachment.upload
      %h2&= _("Attach file(s) to %{target}") % {:target => _(current_target.class.name.downcase) }
      - form_for(:attachment, :url=> target_attachments_url, :html=>{:multipart=>true}) do |f|
        %dl
          %dt= f.label :display_name, h(_"Attachment|Display name")
          %dd= f.text_field :display_name

          %dt= f.label :uploaded_data, h(_"Attachment|Upload Data")
          %dd= f.file_field :uploaded_data

        = submit_tag h(_"Upload")

