#content
  - div_for(@page, "diff") do
    - treat_as_current = note_page_histories_path(current_note, @page)
    %h1&= _("%{page}'s diff from rev.%{from} to rev.%{to}.") % {:from=>params[:from], :to=>params[:to], :page=>@page.display_name}
    .tab= render :partial => 'pages/navi', :locals=> {:current_path => treat_as_current}

    %p= link_to _h("Back to histories"), treat_as_current

    - if @page.format_type == "html"
      .controll
        =radio_button_tag("history_display", "contents")
        =label_tag("history_display_contents", "History|Contents")

        =radio_button_tag("history_display", "diff")
        =label_tag("history_display_diff", "History|Diff", :checked => "checked")

      .history-contents{:style=>"display:none"}
        %h3&= _("History|Contents")
        .from~ render_page_content(@page, params[:from])
        .to~ render_page_content(@page, params[:to])
        .clear

      :javascript
        ($(document).ready(function(){
          $(".controll input:radio").click( function(){
            if($(".controll input:radio:checked").val() == "diff"){
              $("div.history-contents").hide().nextAll(".diff").fadeIn("fast");
            }else{
              $("div.history-contents").fadeIn("fast").nextAll(".diff").hide();
            }
          });
          return true;
        }))

    %table.diff
      %caption
        %h3&= _("History|Diffs")
      %tr
        %th.symbol
        %th.num&= "r#{params[:from]}"
        %th.num&= "r#{params[:to]}"

        %th&= "Contents of r#{params[:from]}"
        %th&= "Contents of r#{params[:to]}"

      - @diffs.each do |symbol, (old_n,old_s), (new_n,new_s)|
        %tr{:class=>diff_symbol(symbol)}
          %td.symbol&= diff_symbol(symbol, false)
          %td.num&= old_n if old_s
          %td.num&= new_n if new_s
          %td.text&= old_s || " "
          %td.text&= new_s || " "

