- content_for(:header) do
  =javascript_include_tag("fckeditor/fckeditor.js")

#content
  - div_for(@page) do
    %h1&= @page.display_name.blank? ? _("New Page") : @page.display_name
    .tab= render :partial => 'pages/navi', :locals=> {:current_path => new_note_page_history_path(current_note, @page)}

    - page_name = @page.name.blank? ? params[:id] : @page.name
    - form_tag(note_page_histories_path(current_note, @page)) do
      %dl
        %dt
          = h(_("Page|Content"))
        %dd.content
          .previewable
            %ul
              %li.show
                %a.wii_button.show
                  %span&= _("Preview")

              %li.hide
                %a.wii_button
                  %span&= _("Hide")

            .rendered
            .clear
          = text_area_tag("history['content']", @page.content, :id=>"history_content", :size=>"80x70")
      = link_to(h(_("show page")), note_page_path(current_note, @page))

:ruby
  editor_opt = {"basePath" => controller.request.relative_url_root + "/javascripts/fckeditor/",
                "historiesPath" => note_page_histories_path(current_note, @page),
                "initialState" => @page.format_type }

:javascript
  $(document).ready(function(){
    jQuery(".previewable").preview({"url":"#{preview_new_note_page_path(current_note.id)}"});
    jQuery("#history_content").editor(#{editor_opt.to_json});
  });

