- content_for(:header) do
  =javascript_include_tag("fckeditor/fckeditor.js")
  =javascript_include_tag("linkPalette")

=javascript_include_tag("iframe_upload")
- div_for(@page) do
  #linkPalette{:style=>"display:none"}= render :partial => 'histories/link_palette'
  %h1&= _("edit content")
  - form_for(:history, @history, :url=>note_page_histories_path(current_note, @page)) do |f|
    %h2
      %label{:for=>"history_content"}&= h(_("Page|Content"))
      %span.operation.trigger= _("Link Palette")
    %div.content
      - if @page.format_type == "hiki"
        .preview
          %ul.float
            %li.hide= link_to(_("Hide preview"), '#', :class => "operation")
            %li.show= link_to(_("Show preview"), '#', :class => "operation")
          .clear
          .rendered
      = text_area_tag("history[content]", @page.content, :id=>"history_content", :size=>"100x20")

    .submit
      %span.notice{:style=>"display:none"}&= _("Modified, need to save.")
      = submit_tag(_("Update %{entity}") % {:entity => _("page")})
      = link_to(h(_("show page")), note_page_path(current_note, @page), :class=>"back")
    .clear


:javascript
  $(document).ready(function(){
    jQuery("div.content").skipEditor({
      "currentFormatType" : "#{@page.format_type}",
      "richEditor": {"name": "history_content", "basePath": "#{request.relative_url_root}/javascripts/fckeditor/", "height":350},
      "hikiEditor": {"selector" : "#history_content", "preview":{"selector":"div.preview", "url": "#{preview_new_note_page_path(current_note)}"} },
      "linkPalette" : jQuery.extend({"selector":"#linkPalette"}, #{palette_opt(@page).to_json})
    });
  });

  function FCKeditor_OnComplete( editorInstance ){
    editorInstance.Events.AttachEvent( 'OnSelectionChange', function (editorInstance){
      if(editorInstance.IsDirty()){
        jQuery(".page form").find("input[type=submit]").enable().end().find("span.notice").show();
      }else{
        jQuery(".page form").find("input[type=submit]").disable().end().find("span.notice").hide();
      }
    });
  }

