- content_for(:header) do
  =javascript_include_tag("fckeditor/fckeditor.js")

=javascript_include_tag("iframe_upload")
- div_for(@page) do
  %h1&= _("edit content")
  - form_for(:history, @history, :url=>note_page_histories_path(current_note, @page)) do |f|
    %h2
      %label{:for=>"history_content"}&= h(_("Page|Content"))
      %span.operation.trigger= _("Link Palette")
    %div.content
      #linkPalette
      = text_area_tag("history[content]", @page.content, :id=>"history_content", :size=>"80x70")

    .submit
      %span.notice{:style=>"display:none"}&= _("Modified, need to save.")
      = submit_tag(_("Update %{entity}") % {:entity => _("page")})
      = link_to(h(_("show page")), note_page_path(current_note, @page), :class=>"back")
    .clear


:javascript
  $(document).ready(function(){
    // jQuery(".previewable").preview({"url":"#{preview_new_note_page_path(current_note.id)}"});
    jQuery("#history_content").editor(#{editor_opt(@page).to_json});
    jQuery("#linkPalette").linkPalette(#{palette_opt(@page).to_json})
  });

  function FCKeditor_OnComplete( editorInstance ){
    editorInstance.Events.AttachEvent( 'OnSelectionChange', function (editorInstance){
      if(editorInstance.IsDirty()){
        jQuery(".page form").find("input[type=submit]").enable().end().find("span.notice").show();
      }else{
        jQuery(".page form").find("input[type=submit]").disable().end().find("span.notice").hide();
      }
    });
  }

