#content
  =render_toolbar(note_page_histories_path(current_note, @page))
  - div_for(@page, :class=>"history") do
    %h1&= @page.display_name

    .rendered~ render_page_content(@page, @history.revision)

    .history
      %dl
        %dt.revision&= _("History|Revision")
        %dd.revision&= "rev.%d" % @history.revision

        %dt.author&= _("History|User")
        %dd.author&= @history.user.name

        %dt.updated_at&= _("History|Updated at")
        %dd.updated_at&= @history.updated_at

    =link_to _("Back to Hisotries"), note_page_histories_path(current_note, @page)

    .clear

