- label_indices = current_note.label_indices.has_pages
- acordion_opt = {:header => "h3", :active => label_indices.index(@page.label_index), :autoHeight => false}
.label-navigation
  %h2
    =h _("Label indices")
    - if current_note.label_navigation_style == LabelIndex::NAVIGATION_STYLE_TOGGLE
      %span.operation&= _("hide")
  - label_indices.each do |label|
    %div.label{:style=>"background:#{h(label.color)}"}
      %h3= link_to h(label.display_name), note_pages_path(current_note, :label_index_id => label)
      %div
        %ul.pages
          - label.pages.each do |p|
            %li= link_to(h(p.display_name), note_page_path(current_note, p))

:javascript
  $(document).ready(function(){
    $("div.label-navigation").accordion(#{acordion_opt.to_json});

    jQuery("div.label-navigation h2 span.operation").click(function(){
      jQuery("div.label-navigation").hide().siblings("div.page-content").addClass("fullscreen");
    });
  })

