.label-navigation
  .handler.previous
  .navigation.previous{:style=>"border-color:#{@page.label_index.color}"}
    %h4= sanitize _("Previous in %{label}") % {:label => val_tag(@page.label_index.display_name) }
    %p
      - if _prev = @page.label_index.pages.previous(@page.order_in_label)
        = h(_prev.display_name)
        %span.operation= link_to h(_("Previous")), note_page_path(current_note, _prev)
      - else
        &= _("First in the label.")

  .handler.next
  .navigation.next{:style=>"border-color:#{@page.label_index.color}"}
    %h4= sanitize _("Next in %{label}") % {:label => val_tag(@page.label_index.display_name) }
    %p
      - if _next = @page.label_index.pages.next(@page.order_in_label)
        = h(_next.display_name)
        %span.operation= link_to h(_("Next")), note_page_path(current_note, _next)
      - else
        &= _("Last in the label.")

:javascript
  $(document).ready(function(){
    $("div.label-navigation div.handler").mouseover(function(){
      var navi = $(this).next("div.navigation").show();
      $("div.page, div.history").one("mouseover", function(){navi.animate({width:"hide"}, 100, "linear")});
    });
  })

