- content_for :header do
  =stylesheet_link_tag "jquery/ui.datepicker.css"

%tr
  %th= form.label(:name, h(_("Page|Name")))
  %td
    - if @page.name_editable?
      =h(note_pages_url(current_note) + "/")
      =form.text_field :name, :size => 10
    - else
      =h( url = note_page_url(current_note, @page))
      =clippy(url)

%tr
  %th= form.label(:published, h(_("Page|Published")))
  %td= form.check_box(:published)

%tr
  %th
    = form.label(:label_indices, h(_("Page|Label indices")))
    %br
    %span.operation&= _("edit labels")
  %td
    %ul.label-indices
      - current_note.label_indices.each do |index|
        %li
          = form.radio_button :label_index_id, index.id
          %label{:for=>"page_label_index_id_#{index.id}"}= labelize(index)
  .clear

