%table.pages-index
  %thead
    %tr
      %th.display_name&= _("Page|DisplayName")
      %th.name&= _("Page|Name")
      %th.revision&= _("Page|Revision")
      %th.user&= _("Page|Auther")
      %th.updated_at.timestamp&= _("Page|UpdatedAt")
      %th.history&= _("History")
  - pages.each do |page|
    %tr
      %td= link_to h(page.display_name), note_page_path(current_note, page)
      %td&= h(page.name)
      %td&= "r.#{page.head.revision}"
      %td&= page.head.user.name
      %td.updated_at&= page.updated_at.to_s(:db)
      %td= link_to h("History"), note_page_histories_path(current_note, page)

