%table.pages-index.skipwiki
  %thead
    %tr
      %th.label&= _("LabelIndices")
      %th.display_name&= _("Page|Display name")
      %th.user&= _("Page|Auther")
      - if current_user.accessible?(current_note)
        %th.publication&= _("Publication")
      %th.timestamp&= _("Page|Updated at")
      - if current_user.accessible?(current_note)
        %th.history&= _("History")
      %th.clippy= _("Copy URL")
  %tbody
    - each_with_histories(pages) do |page, history|
      %tr
        %td.label= labelize(page.label_index)
        %td.name= link_to_unless page.deleted, h(page.display_name), note_page_url(current_note, page)
        %td&= history.user.name
        - if current_user.accessible?(current_note)
          %td.publication
            - if page.deleted
              =icon_tag("delete")
              %span.published&= _("Deleted")
              %br
              %span.op= link_to(_("Recover %{entity}") % {:entity => _("page")}, edit_note_page_path(current_note, page))
            - elsif page.published?
              =icon_tag("star")
              %span.published&= _("Published")
            - else
              =icon_tag("lock")
              %span.not_yet&= _("Not yet")
        %td.timestamp&= page.updated_at.strftime("%Y-%m-%d %H:%M")
        - if current_user.accessible?(current_note)
          %td.history= link_to h(_"Show history"), note_page_histories_path(current_note, page)
        %td.clippy= clippy(note_page_url(current_note, page))

