%table.pages-index
  %thead
    %tr
      %th.label&= _("LabelIndices")
      %th.display_name&= _("Page|Display name")
      %th.user&= _("Page|Auther")
      - if current_user.accessible?(current_note)
        %th.publication&= _("Publication")
        %th.timestamp&= _("Page|Published at")
      %th.timestamp&= _("Page|Updated at")
      - if current_user.accessible?(current_note)
        %th.history&= _("History")
      %th.clippy= _("Copy URL")
  %tbody
    - each_with_histories(pages) do |page, history|
      %tr
        %td.label= labelize(page.label_index)
        %td.name= link_to h(page.display_name), note_page_url(current_note, page)
        %td&= history.user.name
        - if current_user.accessible?(current_note)
          %td.publication
            - if page.published?
              %span.published&= _("Published")
            - else
              %span.not_yet&= _("Not yet")
          %td.timestamp&= page.published_at.strftime("%Y-%m-%d %H:%M")
        %td.timestamp&= page.updated_at.strftime("%Y-%m-%d %H:%M")
        - if current_user.accessible?(current_note)
          %td.history= link_to h(_"Show history"), note_page_histories_path(current_note, page)
        %td.clippy= clippy(note_page_url(current_note, page))

