%div.note-info
  %p= link_to h(current_note.display_name), note_page_path(current_note, "FrontPage")
  %p
    %span&= current_note.description

%ul
  %li.bar-item.search-pages
    - form_tag(note_pages_path(current_note), :method=>:get) do
      - search_label = _("Search pages in %{note}") % {:note => current_note.display_name}
      - val = params[:keyword].blank? ? search_label : params[:keyword]
      = text_field_tag("keyword", val, :id=>"pages_keyword", :class=>"labeled-field")
      = submit_tag _("Search")

      :ruby
        label_config = {:message => search_label}

      :javascript
        jQuery(function(){
          jQuery("input.labeled-field").labeledTextField(#{label_config.to_json});
        });

  - if @page
    %li.bar-item.move-to-label
      %span&= _("Move to Label")
      = label_navigation(current_note, @page)

    %li.bar-item.navigate-in-label
      = navigate_in_label(current_note, @page)

  %li.bar_item
    #system_contents= image_tag "skip/indicator.gif"

.clear

