- content_for :floating do
  .labels-form
    = render :partial => 'label_indices/new'
    %span.operation&= _("close")

- div_for(@page, :class => "app-layout") do
  - if @page.deleted
    #recover
      %h2&= _("Recover %{entity}") % {:entity => _("page")}
      -form_tag(recovery_note_page_path(current_note, @page)) do
        = submit_tag _("Recover %{entity}") % {:entity => _("page")}, :confirm => _("Really recover?")

  - else
    #edit
      %h2&= _("Update %{entity}") % {:entity => _("page")}
      - form_for(:page, :url=>note_page_path(current_note, @page)) do |f|
        =f.error_messages
        = hidden_field_tag "_method", "PUT"
        %table.skipwiki.input= render :partial => 'page_form', :locals =>{:form =>f }
        = submit_tag _("Update %{entity}") % {:entity => _("page")}

    - unless @page.front_page?
      #delete
        %h2&= _("Delete %{entity}") % {:entity => _("page")}
        -form_tag(note_page_path(current_note, @page), :method => "delete") do
          = submit_tag _("Delete %{entity}") % {:entity => _("page")}, :confirm => _("Really delete?")

:javascript
  jQuery(function(){
    var label_form = $("div.labels-form");
    label_form.manageLabel();
    $("table.input th .operation").click(function(){ label_form.show() });
    $("div.labels-form .operation").click(function(){
      label_form.hide();
      $("ul.label-indices").reloadLabelRadios(#{{:url=>note_label_indices_path(current_note)}.to_json});
    });
  });

