#content
  .user-bar= render :partial => 'pages/user_bar'
  .tab= render :partial => 'shared/edit_navi', :locals=> {:current_path => edit_note_page_path(current_note, @page)}

  - div_for(@page, :class => "app-layout") do
    %h1&= @page.display_name
    - form_for(:page, :url=>note_page_path(current_note, @page.name)) do |f|
      = hidden_field_tag "_method", "PUT"
      %dl
        = render :partial => 'page_form', :locals =>{:form =>f }

      = submit_tag _("Update")

