- content_for(:header) do
  =javascript_include_tag("fckeditor/fckeditor.js")

#content
  - div_for(@page) do
    %h1&= _("New Page")
    = error_messages_for :page

    #linkPalette
      %span.trigger= _("Show link palette")

    - form_for(:page, :url=>note_pages_path(current_note)) do |f|
      %dl
        = render :partial => 'page_form', :locals =>{:form =>f }
        %dt= f.label(:content, h(_("Page|Content")))
        %dd.content
          = f.text_area(:content, :id=>"page_content", :size=>"80x70")

      = submit_tag _("Create")

:ruby
  e_opt = editor_opt(@page).merge(:submit_to_save => true)
  p_opt = palette_opt(@page).merge(:editor => "page_content")
  p_opt.delete(:page_attachments)

:javascript
  $(document).ready(function(){
    jQuery("#page_content").editor(#{e_opt.to_json});
    jQuery("#linkPalette").linkPalette(#{p_opt.to_json})
  });

