- content_for(:header) do
  =javascript_include_tag("fckeditor/fckeditor.js")

- content_for :floating do
  .labels-form
    = render :partial => 'label_indices/new'
    %span.operation&= _("close")

=javascript_include_tag("iframe_upload")
#content
  - div_for(@page) do
    %h1&= _("New Page")
    = error_messages_for :page

    - form_for(:page, :url=>note_pages_path(current_note)) do |f|
      %table.input
        = render :partial => 'page_form', :locals =>{:form =>f }
      %h2
        =f.label(:content, h(_("Page|Content")))
        %span.operation.trigger= _("Link Palette")
      %div.content
        #linkPalette
        = f.text_area(:content, :id=>"page_content", :size=>"80x70")

      .submit
        = submit_tag _("Create %{entity}") % {:entity => _("page")}

:ruby
  e_opt = editor_opt(@page).merge(:submit_to_save => true)
  p_opt = palette_opt(@page).merge(:editor => "page_content")

:javascript
  $(document).ready(function(){
    jQuery("#page_content").editor(#{e_opt.to_json});
    jQuery("#linkPalette").linkPalette(#{p_opt.to_json})

    var label_form = $("div.labels-form");
    label_form.manageLabel();
    $("table.input th .operation").click(function(){ label_form.show() });
    $("div.labels-form .operation").click(function(){
      label_form.hide();
      $("ul.label-indices").reloadLabelRadios(#{{:url=>note_label_indices_path(current_note)}.to_json});
    });
  });

