- content_for(:header) do
  =javascript_include_tag("fckeditor/fckeditor.js")
  =javascript_include_tag("linkPalette")

- content_for :floating do
  .labels-form
    = render :partial => 'label_indices/new'
    %span.operation&= _("close")

=javascript_include_tag("iframe_upload")
- div_for(@page, :class => "page-content") do
  #linkPalette{:style=>"display:none"}= render :partial => 'histories/link_palette'
  %h1&= _("New Page")
  = error_messages_for :page

  - form_for(:page, :url=>note_pages_path(current_note)) do |f|
    %table.input
      %tr
        %th= f.label(:display_name, h(_("Page|Display name")))
        %td= f.text_field(:display_name)
      = render :partial => 'page_form', :locals =>{:form =>f }
    %h2
      %label{:for=>"page_content_rich"}&= _("Page|Content")
      %span.operation.trigger= _("Link Palette")
    %div.content
      = f.radio_button(:format_type, "html")
      %label{:for => "page_format_type_html"}&= _("Rich text")
      = f.radio_button(:format_type, "hiki")
      %label{:for => "page_format_type_hiki"}&= _("Wiki text")

      #hiki-content
        #preview
          %ul
            %li.hide= link_to(_("Hide preview"), '', :class => "operation")
            %li.show= link_to(_("Show preview"), '', :class => "operation")
          .rendered
        = f.text_area(:content, :name => "page[content_hiki]", :id=>"page_content_text", :size=>"100x30")
      #html-content
        = f.text_area(:content, :name => "page[content_html]", :id=>"page_content_rich", :size=>"80x70")

    .submit
      = submit_tag _("Create %{entity}") % {:entity => _("page")}

:ruby
  e_opt = editor_opt(@page).merge(:submit_to_save => true)
  p_opt = palette_opt(@page).merge(:editor => "page_content_rich")
  preview_opt = {:url => preview_new_note_page_path(current_note), :textarea => "#wiki-content textarea" }

:javascript
  $(document).ready(function(){
    jQuery("#page_content_rich").editor(#{e_opt.to_json});
    jQuery("#linkPalette").linkPalette(#{p_opt.to_json})
    jQuery("#preview").preview(#{preview_opt.to_json});
    $("input[type=radio][name='page[format_type]']").change(function(){
      if($(this).val() == "hiki"){
        $("#hiki-content").show(); $("#html-content").hide();
      }else{
        $("#hiki-content").hide(); $("#html-content").show();
      }
    });

    var label_form = $("div.labels-form");
    label_form.manageLabel();
    $("table.input th .operation").click(function(){ label_form.show() });
    $("div.labels-form .operation").click(function(){
      label_form.hide();
      $("ul.label-indices").reloadLabelRadios(#{{:url=>note_label_indices_path(current_note)}.to_json});
    });
  });

