- div_for(current_note, :class=>"index app-layout") do
  %h2&= _("pages index")
  .query
    =link_to_function _("Apply filter.."), "$(this).next('form').toggle(); return false", :class=>"op"
    - form_tag note_pages_path(current_note), query_form_options do
      %dl
        = render :partial => 'filter_query'
        %dt= label_tag "query_label_index_id", h(_("LabelIndices"))
        %dd
          - label_opts = options_from_collection_for_select(current_note.label_indices.has_pages, :id, :display_name, params[:label_index_id].to_i)
          =select_tag("label_index_id", content_tag("option", "&nbsp;",:value=>"") + label_opts, :id=>"query_label_index_id")

        =submit_tag _("Filter")
        =link_to _("Show all"), note_pages_path(current_note), :class => "back"

  .clear

  .pages
    - if @pages.empty?
      %p.no-result&= _("The query find no pages.")
    - else
      = render(:partial => "pages/pages")
      = will_paginate(@pages)

