#content
  - div_for(@page) do
    %h1&= @page.display_name
    .tab= render :partial => 'pages/navi', :locals=> {:current_path => note_page_path(current_note, @page)}

    .rendered~ render_page_content(@page)

    .page-label-indices
      %h2&= _("LabelIndices")
      %ul.label-badges
        - current_note.label_indices.each do |index|
          - if index == @page.label_index
            %li
              = labelize(@page.label_index, false)
              %br
              - order = @page.label_indexings.first.page_order
              = link_to(h(_"Previous"), prev_note_label_index_path(current_note, index, :pivot=>order))
              = link_to(h(_"Next"), next_note_label_index_path(current_note, index, :pivot=>order))
          - else
            %li
              %span.label_badge.inactive= link_to(index.display_name, note_label_index_path(current_note, index))

    .clear

