%h3&= _("label index")
%table.skipwiki.label-indices
  %tbody
    - current_note.label_indices.each_slice(2) do |labels|
      %tr
        - labels.each do |l_idx|
          %td.inplace-edit
            - form_opt = {:url=>note_label_index_path(current_note, l_idx)}
            .show
              = labelize(l_idx, false, current_note)
              %br
              %span.operation.ipe-trigger&= _("Click to edit")
            .edit{:style=>"display:none"}
              - form_for :label_index, l_idx, form_opt.merge(:html=>{:method=>"PUT",:style=>"display:visible"}) do |f|
                = f.text_field :display_name, :size=>12, :id=>"#{l_idx.id}_display_name"
                = f.submit _("Update")
                %span.indicator{:style=>"display:none"}= image_tag("skip/indicator.gif")
                %span.op.ipe-cancel&= _("Cancel")

