#admin_title
  - if @notes and !@note
    - path,search_label = admin_notes_path,_("Search Note")
    %h2= icon_tag('folder_page') + h(_("User|Notes"))
  - elsif @note and !@pages and !@attachments and !@page
    - path,search_label = admin_note_pages_path(@note),_("Search pages in %{note}") % {:note=>@note.display_name}
    %h2= icon_tag('folder_page') + h(_("manage note(%{note})") % {:note => @note.display_name})
  - elsif @pages and !@attachments
    - path,search_label = admin_note_pages_path(@note),_("Search pages in %{note}") % {:note=>@note.display_name}
    %h2= icon_tag('folder_page') + h(_("manage note(%{note})") % {:note => @note.display_name})
  - elsif @page
    - path,search_label = admin_note_pages_path(@note),_("Search pages in %{note}") % {:note=>@note.display_name}
    %h2= icon_tag('folder_page') + h(_("manage page(%{page})") % {:page => @page.display_name})
  - elsif @attachments
    - path,search_label = admin_note_pages_path(@note),_("Search pages in %{note}") % {:note=>@note.display_name}
    %h2= icon_tag('folder_page') + h(_("manage note(%{note})") % {:note => @note.display_name})
   
- if @note and !@page
  #user_menu
    %span.note-operation= select_tag("note_operation", admin_operation(:note, request.request_uri))
- if @note and @page
  #user_menu
    %span.note-operation= select_tag("note_operation", admin_operation(:note_and_page, request.request_uri))
  
#user_search
  - form_tag(path, :method=>:get) do
    - search_label ||= _("Search Note")
    - val = params[:keyword].blank? ? search_label : params[:keyword]
    %span{:style=>"vertical-align:middle;"}
    - if path = admin_note_pages_path(@note)
      = text_field_tag("keyword", val, :id=>"user_keyword", :class=>"labeled-field", :size=>32)
    - else
      = text_field_tag("keyword", val, :id=>"user_keyword", :class=>"labeled-field")
    = submit_tag _('Search')
    :javascript
      jQuery(function(){
        jQuery("input.labeled-field").labeledTextField(#{{:message => search_label}.to_json});
      });




