#admin_title
  - if @notes and !@note
    - path,search_label = admin_notes_path,_("Search Note")
    %h2= icon_tag('folder_page', _("manage notes")+" < "+_("User|Notes"))
  - elsif @note and !@pages and !@attachments and !@page
    - path,search_label = admin_note_pages_path(@note),_("Search pages in %{note}") % {:note=>@note.display_name}
    %h2= icon_tag('folder_page', _("manage notes")+" < "+_("manage note(%{note})") % {:note => @note.display_name})
  - elsif @pages and !@attachments
    - path,search_label = admin_note_pages_path(@note),_("Search pages in %{note}") % {:note=>@note.display_name}
    %h2= icon_tag('folder_page', _("manage notes")+" < "+_("manage note(%{note})") % {:note => @note.display_name}+" < "+_("manage pages"))
  - elsif @page
    - path,search_label = admin_note_pages_path(@note),_("Search pages in %{note}") % {:note=>@note.display_name}
    %h2= icon_tag('folder_page', _("manage notes")+" < "+_("manage note(%{note})") % {:note => @note.display_name}+" < "+_("manage page(%{page})") % {:page => @page.display_name})
  - elsif @attachments
    - path,search_label = admin_note_pages_path(@note),_("Search pages in %{note}") % {:note=>@note.display_name}
    %h2= icon_tag('folder_page', _("manage notes")+" < " +_("manage note(%{note})") % {:note => @note.display_name}+ " < " +_("manage attachments"))
   
- if @note
  #user_menu
    %span.operation&= _("menu")
    .user-navi
      %ul
        %li= link_to(_("manage pages"), admin_note_pages_path(@note))
        %li= link_to(_("manage attachments"), admin_note_attachments_path(@note))
        - if @page
          %li= link_to(_("manage property"), edit_admin_note_page_path(@note,@page))
          %li= link_to(_("manage page"), new_admin_note_page_history_path(@note,@page))
        %li= link_to(_("User|Notes"), admin_notes_path)
:javascript
  jQuery(document).ready(function(){
    $("span.operation").click(function(){jQuery(this).nextAll("div.user-navi").toggle()});
  });
#user_search
  - form_tag(path, :method=>:get) do
    - search_label ||= _("Search Note")
    - val = params[:keyword].blank? ? search_label : params[:keyword]
    %span{:style=>"vertical-align:middle;"}
    - if path = admin_note_pages_path(@note)
      = text_field_tag("keyword", val, :id=>"user_keyword", :class=>"labeled-field", :size=>32)
    - else
      = text_field_tag("keyword", val, :id=>"user_keyword", :class=>"labeled-field")
    = submit_tag _('Search')
    :javascript
      jQuery(function(){
        jQuery("input.labeled-field").labeledTextField(#{{:message => search_label}.to_json});
      });




