#admin_header
  #admin_title
    = _("Admin menu")
  #user_search
    - form_tag(current_path, :method=>:get) do
      - search_label ||= _("Search User")
      - val = params[:keyword].blank? ? search_label : params[:keyword]
      %span{:style=>"vertical-align:middle;"}
      = text_field_tag("keyword", val, :id=>"user_keyword", :class=>"labeled-field")
      = submit_tag _('Search')
      :javascript
        jQuery(function(){
          jQuery("input.labeled-field").labeledTextField(#{{:message => search_label}.to_json});
        });
.tab
  %ul.navi-tab.float
    %li.page-navi
      %ul.float
        - if @users or (@user and !@user.new_record?) or @accounts or @account
          = navi_item(_("Account|Index"), admin_accounts_path, current_path)
        - if @note and !@note.new_record? and !@page
          = navi_item(_("manage pages"), admin_note_pages_path(@note), current_path)
          = navi_item(_("manage attachments"), admin_accounts_path, current_path)
        - if @page
          = navi_item(_("manage property"), edit_admin_note_page_path(@note,@page), current_path)
          = navi_item(_("manage page"), new_admin_note_page_history_path(@note,@page), current_path)
      .clear
    %li.note-navi
      %ul.float
        = navi_item(_("manage users"), admin_root_path, current_path)
        = navi_item(_("manage notes"), admin_notes_path, current_path)
        = navi_item(_("manage common files"), admin_notes_path, current_path)
      .clear
  .clear
