#admin_title
  - path,search_label = admin_root_path,_("Search User")
  - if @users
    %h2= icon_tag('user', _("manage users")+" &lt; "+_("User|Index"))
  - elsif @user
    %h2= icon_tag('user', _("manage users")+" &lt; "+_("User|Index")+" &lt; "+_("User|Edit(%{user})") % {:user => @user.name})
:javascript
  jQuery(document).ready(function(){
    $("span.admin-user-operation select").dropdownNavigation();
  });
#user_search
  - form_tag(path, :method=>:get) do
    - search_label ||= _("Search User")
    - val = params[:keyword].blank? ? search_label : params[:keyword]
    %span{:style=>"vertical-align:middle;"}
    = text_field_tag("keyword", val, :id=>"user_keyword", :class=>"labeled-field")
    = submit_tag _('Search')
    :javascript
      jQuery(function(){
        jQuery("input.labeled-field").labeledTextField(#{{:message => search_label}.to_json});
      });
