!!! XML
!!!
%html{html_attrs("ja")}
  %head= render :partial => 'shared/common_header'
  %body
    #header
      #logo{:style=>"align: top; margin: 3px 0 0 5px;"}
        %h1{:style=>"display:none"}= link_to 'SKIP Wiki', root_path
        = link_to image_tag("logo.gif", :alt=>"SKIP Wiki - Logo"), root_path
      = render :partial => 'shared/common_body_header'

    = render :partial=>"shared/flash_message"
    #top
      - if logged_in?
        %ul.float
          %li= link_to _("Dashboard"), root_path
          %li= link_to _("Admin menu"), admin_root_path if current_user.admin?
          %li= link_to content_tag("span", h(_"new note")), new_note_path
          %li= select_tag("notes", notes_navi_on_header(current_user))
        .clear

      :javascript
        jQuery(document).ready(function(){
          $("#top select").dropdownNavigation();});

    #main
      #content
        #content_for_layout= yield
        .clear

    #system_contents= image_tag "skip/indicator.gif"

    #footer
      = render :partial => 'shared/common_body_footer'

