!!! XML
!!!
%html{html_attrs("ja")}
  %head
    = render :partial => 'shared/common_header'

  %body
    #logo.note-layout
      = link_to image_tag("logo.png", :alt=>"SKIP Note - Logo", :height=>"15px"), root_path
      %p{:style=>"display:none"}= link_to _('SKIP Note'), root_path

    #header.note-layout
      = render :partial => 'shared/common_body_header'
      #current-note= render :partial => 'shared/current_note_and_operation'

    = render :partial=>"shared/flash_message"
    #top= render :partial => 'shared/top'

    #floating{:style=>"z-index:1"}= yield :floating
    #main
      #content_for_layout
        #content
          .note-header
            .user-bar= render :partial => 'shared/user_navi'
            .clear

          = yield

    #footer
      = render :partial => 'shared/common_body_footer'

