!!! XML
!!!
%html{html_attrs("ja")}
  %head
    = render :partial => 'shared/common_header'

  %body
    = render :partial => 'shared/common_body_header'

    - note = @note || current_note
    #main
      #side-menu
        = render :partial => "notes/menu", :locals=>{:note=>note}

      #content_for_layout= yield
      .clear

      = render :partial => 'shared/common_body_footer'

