!!! XML
!!!
%html{html_attrs("ja")}
  %head
    = render :partial => 'shared/common_header'

  %body
    #header.page-layout
      = render :partial => 'shared/common_body_header'

    = render :partial=>"shared/flash_message"

    #top= render :partial => 'shared/top'

    #floating{:style=>"z-index:1"}= yield :floating
    #main
      #content_for_layout
        #content
          .page-header{:style=>"border-color:#{@page.label_index.color}"}
            %h1.page-name
              .show
                %span.title.ipe-trigger&= @page.display_name
                %span.labeled= sanitize _("Labeled as %{label}") % {:label=>val_tag(@page.label_index.display_name)}
                - if current_note.label_navigation_style == LabelIndex::NAVIGATION_STYLE_TOGGLE
                  %span.operation.show-label-navi&= _("show label navigation")

              - if current_user.page_editable?(current_note)
                .edit{:style=>"display:none"}
                  - form_for(:page, :url=>note_page_path(current_note, @page), :style=>"display:none") do |f|
                    = f.text_field :display_name, :id => "ipe-page_display_name", :size => 20
                    = submit_tag _("Update %{entity}") % {:entity => _("Page|Display name")}
                    %span.indicator{:style=>"display:none"}= image_tag "skip/indicator.gif"
                    %span.operation.ipe-cancel&= _("Cancel")
                :javascript
                  jQuery(document).ready(function(){
                    $("div.page-header span.operation.show-label-navi").click(function(){
                      jQuery("#content div.label-navigation").show().siblings(".page-content").removeClass("fullscreen")
                    });
                    $("h1").aresInplaceEditor(jQuery.extend({
                        callback:application.callbacks.pageDisplaynameEditor
                      }, #{page_display_name_ipe_option.to_json})
                    );
                    $("h1 span.page-operation select").dropdownNavigation();
                  });

            - if current_user.page_editable?(current_note)
              #page-menu
                %ul.float
                  %li= link_to("表示", note_page_path(current_note, @page))
                  %li= link_to("編集", new_note_page_history_path(current_note, @page))
                  %li= link_to("履歴", note_page_histories_path(current_note, @page))
                  %li= link_to("プロパティ", edit_note_page_path(current_note, @page))
              .clear
           
            .clear

          - if fullscreen_action?
            .page-content.fullscreen= yield
          - else
            .page-content= yield
            =render :partial => 'pages/label_traverse'
          .clear

    #footer
      = render :partial => 'shared/common_body_footer'

