!!! XML
!!!
%html{html_attrs("ja")}
  %head
    = render :partial => 'shared/common_header'

  %body
    #header.page-layout
      #logo
        = link_to image_tag("logo.png", :alt=>"SKIP Note - Logo", :height=>"15px"), root_path
        %p{:style=>"display:none"}= link_to _('SKIP Note'), root_path

      = render :partial => 'shared/common_body_header'
      #current-note= render :partial => 'shared/current_note_and_operation'

    #flash_message= render :partial=>"layouts/flash_message"
    #top= render :partial => 'layouts/top'

    #floating{:style=>"z-index:1"}= yield :floating
    #main
      #content_for_layout
        #content
          .page-header{:style=>"border-color:#{@page.label_index.color}"}
            %h1.page-name
              .show
                %span.title.ipe-trigger&= @page.display_name
                %span.labeled= sanitize _("Labeled as %{label}") % {:label=>val_tag(@page.label_index.display_name)}
                - if current_note.accessible?(current_user)
                  %span.page-operation= select_tag("page_operation", page_operation)

              - if current_note.accessible?(current_user)
                .edit{:style=>"display:none"}
                  - form_for(:page, :url=>note_page_path(current_note, @page), :style=>"display:none") do |f|
                    = f.text_field :display_name, :id => "ipe-page_display_name", :size => 20
                    = submit_tag _("Update %{entity}") % {:entity => _("Page|Display name")}
                    %span.indicator{:style=>"display:none"}= image_tag "skip/indicator.gif"
                    %span.operation.ipe-cancel&= _("Cancel")
                :javascript
                  jQuery(document).ready(function(){
                    $("div.page-header span.operation").click(function(){jQuery(this).nextAll("div.page-navi").toggle()});
                    $("h1").aresInplaceEditor(jQuery.extend({
                        callback:application.callbacks.pageDisplaynameEditor
                      }, #{page_display_name_ipe_option.to_json})
                    );
                    $("h1 span.page-operation select").dropdownNavigation();
                  });

            .user-bar= render :partial => 'shared/user_navi'
            .clear

          = yield
          = label_traverse

    #footer
      = render :partial => 'shared/common_body_footer'

