<h1>Sign up as a new user</h1>

<%= error_messages_for :account %>
<% form_for :account, :url => accounts_path do |f| -%>
<p><%= f.label 'login' %><br/>
<%= f.text_field :login %></p>

<p><%= f.label 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'OpenID URL' %><br/>
<%=h session[:identity_url] %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>

